version: 2
updates:
- package-ecosystem: composer
  directory: "/"
  schedule:
    interval: daily
    time: "04:00"
  open-pull-requests-limit: 10
  ignore:
    - dependency-name: '@types/node'
    - dependency-name: '*'
      update-types:
        - 'version-update:semver-patch'
        - 'version-update:semver-minor'
